*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-image: url("https://www.infomotori.com/content/uploads/2016/07/cuore-numeri-1978.jpg");
}

.container{
    width: 1200px;
    background-color: black;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    border-radius: 11%;
}
h1{
    text-align: center;
    color: black;
    margin-bottom: 3rem;
    background-color: white;
}

p{
    height: 50px;
    width: calc(100% / 10);
    text-align: center;
    line-height: 3rem;
    border: 1px solid white;
}

p.number {
    color: whitesmoke;
}

p.fizz{
    color: red;
    font-family: "Happy Monkey", system-ui;
}

p.buzz{
    color: peachpuff;
    font-family: "Graduate", serif;
}

p.fizzbuzz{
    color: yellowgreen;
    font-family: "Vast Shadow", serif;
}